body{font-family: sans-serif;
    /* background-color: crimson; */
    background-color: #20552f;
}

/* navbar */
.menu{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
  }
  
  ul {
    font: inherit;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #093916;
  }
  
  ul li {
    font-size: 20px;
    float: right;
  }
    .push {
    font-size: 20px;
    float:left;
  }
  
  
  ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover, .dropdown:hover .dropbtn {
    color:#093916;
    background-color:mediumvioletred;
  }
  
  ul li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* home */
#Home{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 700px;
  justify-content: center;
  align-items: center;
  color: white;
}

.loterij{
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 0;
  top: 20%;
}
.headings{
  font-size: 3cm;
  text-align: center;
  margin: 40px 0px;
}
.imgH{
margin-top: 25%;
margin-left: 200px;
width: 50%;
height: auto;
}

/*Krasloten*/
#Krasloten{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  background-color: mediumvioletred;
  color: white;
  align-items: center;
  padding: 20px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.gallery img{
  width: 400px;
  height: 280px;
  margin: 40px;
}
.img:hover{
  cursor: pointer;
  box-shadow: 0 0 10px white;
}